<html>
    <title>documentstracer</title>
    <head></head>
    <center>
        <b><h1>DOCUMENTS TRACER</h1></b>
    </center>
    <em>
        <p>This is a simple django app that lets people find their lost identification documents</p>
    </em>
    <h2><b>How the system works</b></h2>
    <p>
        If you lose your documents, visit the <a href="">search lost document </a> link </br>
        and choose the type of document then enter your details. </br> 
        Once a matching record is found in the system,</br>
        the details will be emailed to you.

    </p>
</html>