[report]
show_missing = True
omit =
    manage.py
    id_cards/__init__.py
    id_cards/migrations/*
    documents_tracer/wsgi.py
    documents_tracer/settings.py
    documents_tracer/__init__.py
    config/*
